<a {{ action 'expandEmployee' }} class="employees__item">
  <li class="employees__item employees__item--hoverable {{ if isExpanded "employees__item--expanded"}}">
    <div class="employee">
      <div class="employee__image">
        <img src="{{ employee.image }}" alt="{{ employee.name }}">
      </div>
      <div class="employee__details">
        <ul class="edetails">
          <li class="edetails__name">{{employee.firstname}} {{employee.surname}}</li>
          <li class="edetails__email">{{employee.email}}</li>
          <li class="edetails__job">{{employee.job}}</li>
          <li class="edetails__city">{{employee.city}}</li>
        </ul>
        <br>
        <strong>Department</strong> {{employee.department.name}}
      </div>
      <div class="operations">
        <ul>
          <li class="operations__item">
            <a href="">Add Holiday</a>
          </li>
          <li class="operations__item">{{#link-to "employee-list.edit" employee }}Edit Employee{{/link-to}}</li>
          <li class="operations__item" ><a href="">View Department</a></li>
        </ul>
      </div>
    </div>
  </li>
</a>

{{ outlet}}