{{yield}}
<div class="employee-form">
  <form action="">
    <div class="employee-form__item">
    <label for="firstname">
      First name
      {{ input value=employee.firstname }}
    </label>
    </div>
    <div class="employee-form__item">
      <label for="lastname">
        Last name
        {{ input value=employee.surname }}
      </label>
    </div>
    <div class="employee-form__item">
      <label for="email">
        Email
        {{ input value=employee.email }}
      </label>
    </div>
    <div class="employee-form__item">
      <label for="job">
        Job
        {{ input value=employee.job}}
      </label>
    </div>
    <div class="employee-form__item">
      <label for="city">
        City
        {{ input value=employee.city}}
      </label>
    </div>
    <div class="employee-form__item">
      <label for="imae">
        Image
        {{ input value=employee.image }}
      </label>
    </div>

    <button {{ action "saveEmployee" employee}} class="employee-form__button" >Save</button>
  </form>
</div>