<header class="header">
  <div class="header__logo">
    {{#link-to 'application'}}
    <img src="/img/janine.png" alt="Logo">
    <h1>Janine HR</h1>
    {{/link-to}}
  </div>
  <nav class="header__menu">
    <ul class="nav">
      <li>{{#link-to 'employee-list' class="nav__item nav__item--active"}}Employees{{/link-to}}</li>
      <li>{{#link-to 'department' class="nav__item nav__item--active"}}Departments{{/link-to}}</li>
    </ul>
  </nav>
</header>