@import "partials/typography"
@import "partials/base"


@import "partials/header"

.title
  color: #ddd;
  width: 95%
  margin: 10px auto

.employees
  width: 95%
  list-style-type none
  margin: 0 auto
  &__item
    &--hoverable
      background #eee
      margin-bottom: 5px
      &:hover
        background:#ddd
        cursor: pointer
    &--expanded
      min-height: 440px
.employee
  &:after
    clear: both
    content: ''
    height: 0
    margin-bottom: 5px

    display: block
  &__image
    width: 15%
    float: left
    overflow: hidden
    max-height 140px
    padding: 5px

   &__details
     padding: 0
     ul
      list-style-type none
     width: 50%
     float: left
     margin-left: 5%

.edetails
  padding-top: 10px

  &__name
    font-size: 2em

  &__job
    font-size: 1.2em
    color: #333
  &__city
    color: #777

.operations
  width: 25%
  float: right
  min-height: 140px
  height: 100%
  border-left: 1px solid #ccc

  ul
    list-style-type none

  &__item
    padding: 5px
    border-bottom:1px solid #ccc;
    //text-align: center

    a
      width: 100%
      padding: 10px 0
      display: block
      text-align: center

.employee-form
  width: 75%
  margin: 10px auto
  background #dddddd
  padding: 20px
  &__item
    padding: 25px 0
    display: block

    label
      width: 30%
      display: block

    input
      padding: 5px
      min-width: 100%

  &__button
    background orange
    border none
    font-size: 2em
    padding: 5px 25px
