.header
  width: 100%
  height: 60px
  background #eee
  display: flex
  align-items center
  border-bottom:1px solid #000
  justify-content space-between

  &__logo
    width: 35%
    padding: 0 10px
    color: #a86800
    img
      float: left
      max-height 60px
      width: 60px
      padding-right: 10px
    h1
      padding-top: 10px

  &__menu
    width: 60%

.nav
  list-style-type none
  display: inline-flex
  &__item
    padding: 0 20px
    &--active
      color: #888
