@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

//resets
h1,h2,h3,h4,p,ul,li
  margin: 0
  padding: 0
  font-family: 'Raleway'

a
  text-decoration: none
  &.visited {
    color: #000
  }
